*.pdf
*.png
*.svg
*.idea
*.DS_Store

**/.ipynb_checkpoints
/.ipynb_checkpoints

/aeromaps/notebooks/.env

__pycache__/
.python-version
/docs/_build/
/site/
/aeromaps/notebooks/private/
/aeromaps/notebooks/tutorials/07_life_cycle_assessment/data/config_files/lca/tmp/
/aeromaps/notebooks/publications/ecats_2026/data/config_files/lca/tmp/
