aenum==3.1.16 ; python_version >= "3.10" and python_version < "3.12"
aerocm==0.1.1b0 ; python_version >= "3.10" and python_version < "3.12"
aiofiles==22.1.0 ; python_version >= "3.10" and python_version < "3.12"
aiosqlite==0.21.0 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.11.0 ; python_version >= "3.10" and python_version < "3.12"
appnope==0.1.4 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Darwin"
argon2-cffi-bindings==25.1.0 ; python_version >= "3.10" and python_version < "3.12"
argon2-cffi==25.1.0 ; python_version >= "3.10" and python_version < "3.12"
arrow==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
asttokens==3.0.1 ; python_version >= "3.10" and python_version < "3.12"
attrs==25.4.0 ; python_version >= "3.10" and python_version < "3.12"
babel==2.17.0 ; python_version >= "3.10" and python_version < "3.12"
beautifulsoup4==4.14.2 ; python_version >= "3.10" and python_version < "3.12"
bleach==6.3.0 ; python_version >= "3.10" and python_version < "3.12"
bqplot==0.12.45 ; python_version >= "3.10" and python_version < "3.12"
certifi==2025.11.12 ; python_version >= "3.10" and python_version < "3.12"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.4.4 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.3 ; python_version >= "3.10" and python_version < "3.12"
contourpy==1.3.2 ; python_version == "3.10"
contourpy==1.3.3 ; python_version == "3.11"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
dacite==1.9.2 ; python_version >= "3.10" and python_version < "3.12"
debugpy==1.8.17 ; python_version >= "3.10" and python_version < "3.12"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "3.12"
deepdiff==8.6.1 ; python_version >= "3.10" and python_version < "3.12"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.12"
docstring-inheritance==2.2.2 ; python_version >= "3.10" and python_version < "3.12"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "3.12"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.3.1 ; python_version == "3.10"
executing==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
fair==2.2.2 ; python_version >= "3.10" and python_version < "3.12"
fastjsonschema==2.21.2 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.60.1 ; python_version >= "3.10" and python_version < "3.12"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
gast==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
gemseo==6.3.1 ; python_version >= "3.10" and python_version < "3.12"
genson==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
h5py==3.14.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.11 ; python_version >= "3.10" and python_version < "3.12"
ipydatagrid==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
ipykernel==6.29.5 ; python_version >= "3.10" and python_version < "3.12"
ipympl==0.9.8 ; python_version >= "3.10" and python_version < "3.12"
ipysheet==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
ipython-genutils==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
ipython-pygments-lexers==1.1.1 ; python_version == "3.11"
ipython==8.37.0 ; python_version == "3.10"
ipython==9.7.0 ; python_version == "3.11"
ipytree==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
ipywidgets==8.1.8 ; python_version >= "3.10" and python_version < "3.12"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.12"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.12"
json5==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.25.1 ; python_version >= "3.10" and python_version < "3.12"
jupyter-client==7.4.9 ; python_version >= "3.10" and python_version < "3.12"
jupyter-core==5.9.1 ; python_version >= "3.10" and python_version < "3.12"
jupyter-events==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server-fileid==0.9.3 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server-terminals==0.5.3 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server-ydoc==0.8.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server==2.17.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-ydoc==0.2.5 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-server==2.28.0 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-widgets==3.0.16 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab==3.6.8 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.9 ; python_version >= "3.10" and python_version < "3.12"
lark==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
markdown==3.10 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
matplotlib-inline==0.2.1 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.10.6 ; python_version >= "3.10" and python_version < "3.12"
minisom==2.3.5 ; python_version >= "3.10" and python_version < "3.12"
mistune==3.1.4 ; python_version >= "3.10" and python_version < "3.12"
nbclassic==1.3.3 ; python_version >= "3.10" and python_version < "3.12"
nbclient==0.10.2 ; python_version >= "3.10" and python_version < "3.12"
nbconvert==7.16.6 ; python_version >= "3.10" and python_version < "3.12"
nbformat==5.10.4 ; python_version >= "3.10" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
networkx==3.4.2 ; python_version == "3.10"
networkx==3.5 ; python_version == "3.11"
notebook-shim==0.2.4 ; python_version >= "3.10" and python_version < "3.12"
notebook==6.5.7 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.12"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "3.12"
orderly-set==5.5.0 ; python_version >= "3.10" and python_version < "3.12"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==25.0 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "3.12"
pandocfilters==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
parso==0.8.5 ; python_version >= "3.10" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==12.0.0 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==4.5.0 ; python_version >= "3.10" and python_version < "3.12"
plotly==5.24.1 ; python_version >= "3.10" and python_version < "3.12"
pooch==1.8.2 ; python_version >= "3.10" and python_version < "3.12"
prettytable==3.16.0 ; python_version >= "3.10" and python_version < "3.12"
prometheus-client==0.23.1 ; python_version >= "3.10" and python_version < "3.12"
prompt-toolkit==3.0.52 ; python_version >= "3.10" and python_version < "3.12"
psutil==7.1.3 ; python_version >= "3.10" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten" or os_name != "nt")
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.12"
py2vega==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.23 ; python_version >= "3.10" and python_version < "3.12" and implementation_name != "PyPy"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "3.12"
pydantic-settings==2.11.0 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.11.9 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.2.5 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.2.1 ; python_version >= "3.10" and python_version < "3.12"
python-json-logger==4.0.0 ; python_version >= "3.10" and python_version < "3.12"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.12"
pywinpty==3.0.2 ; python_version >= "3.10" and python_version < "3.12" and os_name == "nt"
pyxdsm==2.3.1 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "3.12"
pyzmq==27.1.0 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.37.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.5 ; python_version >= "3.10" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.12"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.12"
rfc3987-syntax==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.29.0 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.13.1 ; python_version >= "3.10" and python_version < "3.12"
send2trash==1.8.3 ; python_version >= "3.10" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
soupsieve==2.8 ; python_version >= "3.10" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.12"
strenum==0.4.15 ; python_version >= "3.10" and python_version < "3.12"
tenacity==9.1.2 ; python_version >= "3.10" and python_version < "3.12"
terminado==0.18.1 ; python_version >= "3.10" and python_version < "3.12"
tinycss2==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.3.0 ; python_version == "3.10"
tornado==6.5.2 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.12"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.12"
traittypes==0.2.3 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.12"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.12"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "3.12"
voila==0.5.11 ; python_version >= "3.10" and python_version < "3.12"
wcwidth==0.2.14 ; python_version >= "3.10" and python_version < "3.12"
webcolors==25.10.0 ; python_version >= "3.10" and python_version < "3.12"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
websocket-client==1.9.0 ; python_version >= "3.10" and python_version < "3.12"
websockets==15.0.1 ; python_version >= "3.10" and python_version < "3.12"
widgetsnbextension==4.0.15 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.17.3 ; python_version >= "3.10" and python_version < "3.12"
xarray==2024.2.0 ; python_version >= "3.10" and python_version < "3.12"
xdsmjs==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
xlrd==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
xxhash==3.5.0 ; python_version >= "3.10" and python_version < "3.12"
y-py==0.6.2 ; python_version >= "3.10" and python_version < "3.12"
ypy-websocket==0.8.4 ; python_version >= "3.10" and python_version < "3.12"
